/* RESET */
* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img {
    max-width:100%;
}

ul{
    list-style: none;
}


a {
    text-decoration: none;
    color: rgb(157, 152, 152);
}

.text-color {
    color:black;
}
/* COMMON */
/* Typography */
body {
    font-family: sans-serif;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 6px 14px;
}

.btn-blue {
    background-color: rgb(43, 101, 201);
    color: white;
}

.btn-light {
    background-color: white;
    color: black;
    border:1px solid black;
}



/* Layout */
.container {
    width:70%;
    max-width: 900px;
    margin:0 auto;
}
.container-grande {
    width:80%;
    max-width: 1000px;
    margin: 0 auto;
}


/* Utilities */
.flex {
    display:flex;    
}

.g-18 {
    gap:18px;
}

.bg-blue {
    background-color: rgb(186, 216, 228);
}

.text {
    text-align: center;
}

.justify-between {
     justify-content: space-between;
}

.align-center {
    align-items: center;
}
.py-30 {
    padding-top:30px;
    padding-bottom: 30px;
}

.py-20 {
    padding-bottom: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.text-left {
    text-align: left;
}



/* HEADER */
header{
    background-color: white;
    height: 80px;
    display:flex;
    justify-content: space-between;
    padding: 25px;
}


/* MAIN */
/* Hero section */
  .hero-section {
    padding-top: 50px;
    padding-bottom: 0px;
  }


.col{
    width: calc(100% / 3);

/* debug */
min-height:300px;
border:1px solid black;

}

/* card */
.column {
    display: flex;
    gap: 30px;
}
.card {
    border: 1px solid black;
    width:100%;
    max-width:950px;
  
}
.card-header {
    border-bottom: 1px solid black;
    padding: 20px;
}
.card-content {
    display: flex;
    padding: 80px;
}

/* immagine content */
.col-60 {
    width:60%;    
}

.col-40 {
    width:40%;

}
.col-text {
    width:30%;
}
.col-image {
    width:70%;
}


/* cards */
.row {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.col-30 {
    width:30%;
    margin-bottom: 20px;

/* debug */
    min-height:200px;
   
}







/* FOOTER */

.small {
    min-height:200px;
    width:calc(100% / 5);
    color:white;

 /* debug */ 
   
}

footer {
    background-color: black;
    
}

.footer-menu-tittle {
    color:white;
    font-size:1.8rem;
}
.footer-menu li {
    color:white;
    margin-bottom: 10px;
    font-size:1rem;
}



