/* RESET */
* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}


a {
    color: black;
    text-decoration: none;
}

/* COMMON */
/* Typography */
body {
    font-family: sans-serif;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 6px 14px;
}

.btn-blue {
    background-color: rgb(43, 101, 201);
    color: white;
}



/* Layout */
.container {
    width:80%;
    max-width: 800px;
    margin:0 auto;


/* debug */
    /* border:1px solid black; */
}

/* Utilities */
.flex {
    display:flex;    
}

.g-18 {
    gap:18px;
}

.justify-between {
     justify-content: space-between;
}

.align-center {
    align-items: center;
}
.py-30 {
    padding-top:30px;
    padding-bottom: 30px;
}


/* HEADER */
header{
    background-color: white;
    height: 80px;
    display:flex;
    justify-content: space-between;
    padding: 25px;

}


/* MAIN */
/* Hero section */

.hero-section {
    background-color: rgb(167, 204, 219);
    padding: 40px 0;

}

.hero-content {
    width: 70%;
    max-width: 700px;
    margin:0 auto;
    

/* debug */
    min-height: 300px;
    background-color: rgb(194, 187, 187);
    border:1px solid black;    
}


section {
    border: 1px solid purple;
}

.col{
    width: calc(100% / 3);

/* debug */
min-height:300px;
border:1px solid black;

}

/* card */
.column {
    display: flex;
    gap: 30px;
}
.card {
    border: 1px solid black;
    width:100%;
    max-width:950px;
  
}
.card-header {
    border-bottom: 1px solid black;
    padding: 20px;
}
.card-content {
    display: flex;
    padding: 80px;
}

/* immagine content */
.col-60 {
    width:60%;

/* debug */
    background-color: rgb(216, 202, 216);
    min-height:350px; 
    border: 1px solid black;
}

.col-40 {
    width:40%;

/* debug */
    background-color: rgb(220, 231, 220);
    min-height:350px;
    border: 1px solid black;
}


/* cards */
.row {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.col-30 {
    width:30%;
    margin-bottom: 20px;

/* debug */
    min-height:200px;
    border:1px solid black;
}


/* debug */
.aditional-info {
    text-align: left;

/* debug */ 
    background-color: rgb(221, 231, 221);
    border:1px solid black;
    min-height:100px;    
}


/* FOOTER */

.small {
    min-height:200px;
    border:1px solid black;
    width:calc(100% / 5);

 /* debug */ 
    background-color: rgb(238, 238, 226);   
}

footer {
    background-color: black;
    color:white;
}


/* debug */ 
.bot {
    border: 1px solid white;
}
