/* RESET */
* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

/* COMMON */


/* Layout */
.container {
    width:80%;
    max-width: 800px;
    margin:0 auto;

/* debug */
    /* border:1px solid black; */
}

/* Utilities */
.flex {
    display:flex;
    flex-direction: row;
}

.justify-between {
     justify-content: space-between;
}
.py-30 {
    padding-top:30px;
    padding-bottom: 30px;
}


/* HEADER */
header{
    background-color: rgb(195, 213, 158);
    height: 80px;
    display:flex;
    align-items: center;
}
.header-logo,
.header-actions {
    width:20%;    
}

.header-actions {
    text-align: right;
}

header ul.flex {
    gap:20px;
}

/* MAIN */
/* Hero section */

.hero-section {
    background-color: rgb(167, 204, 219);
    padding: 40px 0;
}

.hero-content {
    width: 70%;
    max-width: 700px;
    margin:0 auto;

/* debug */
    min-height: 300px;
    background-color: rgb(194, 187, 187);    
}
section {
    border: 1px solid purple;
}

.col{
    width: calc(100% / 3);

/* debug */
min-height:300px;
border:1px solid black;

}
.column {
    display: flex;
    gap: 30px;
}
.card {
    border: 1px solid black;
    width:100%;
    max-width:950px;
  
}
.card-header {
    border-bottom: 1px solid black;
    padding: 20px;
}
.card-content {
    display: flex;
    padding: 80px;
}

.col-60 {
    width:60%;

/* debug */
    background-color: rgb(200, 178, 200);
    min-height:350px; 
    border: 1px solid black;
}

.col-40 {
    width:40%;

/* debug */
    background-color: rgb(202, 224, 202);
    min-height:350px;
    border: 1px solid black;
}
